# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Omega3D.iml
# Datasource local storage ignored files
/../../../../../../../:\Neagz\Project\Omega3D\.idea\.idea.Omega3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
